#root {
  text-align: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-rows: auto 1fr; /* adjust as needed */
  grid-template-columns: 1fr 4fr; /* adjust the column sizes as needed */
  height: 100vh; /* adjust as needed */
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

ul {
  list-style-type: none;
}